#
# bash/python script for database config
# all keys must be in format 
# key="value"
# (keep in mind no separation of equal sign and key/quotes)


#
#database connection settings
#
# warning: password for dbroot should be configured in ~/.pgpass
# pgpass line format:
# host:port:dbname:role:password
dbhost="localhost"
dbname="wowdb2"
dbuser="wowuser"
dbpass="wowuser_pass"
dbroot="postgres"
dbtmpl="template1"

#
# locker
#
locker="data/tmp/lock"

#
# directory settings (relative or absolute paths)
#
dir_fetching="var/tmp/fetching"
dir_fetched="var/fetched"
dir_importing="var/tmp/importing"
dir_imported="var/imported"
dir_zipping="var/tmp/zipping"
dir_zipped="var/zipped"

#
# settings for wowitems
#
items_ids="var/items_ids.txt"
items_realms="eu"
items_locales="en_US ru_RU"
items_fetch_per_session=100

dir_fetched_items="var/items_fetched"
dir_importing_items="var/items_importing"
dir_imported_items="var/items_imported"
dir_zipping_items="var/items_zipping"
dir_zipped_items="var/items_zipped"

#
# misc settings
#
dir_etc="etc"
dir_log="var/log"

# WoW API Serrings

# get your api key from https://dev.battle.net
apikey=""

#
# watchlist describes all realms for fetching data in format
# region:realmname
# separated by space.
# region is one of (en, us)
# realmname - valid realmname (localized or english name),
# with replaced space to minus sign
# example:
# watchlist="eu:Дракономор eu:Подземье eu:страж-смерти"
#
watchlist="eu:Дракономор eu:страж-смерти"

#http_proxy="http://proxy.network.loc:8080"
# you can enter proxy param here or define it in environment
#
